body{
	background:#000;
}
.pswp__top-bar, .pswp__caption {
     background-color: rgba(0, 0, 0, 0); 
}
.pswp__counter {
    text-align: center;
    left: 50%;
    top: 15px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    width: 70px;
    margin-left: -35px;
    background: rgba(0,0,0,.5);
    border-radius: 20px;
    opacity: 1;
}
.pswp__error-msg{
    margin-top: -36px;
}
.pswp__error-msg .img_fail{
	width:40px;
	height:40px;
	margin:auto;
	opacity: .75;
}
.pswp__error-msg .fail_txt{
	color:#fff;
	text-align: center;    
	margin-top: 15px;
    opacity: .75;
    font-size: 16px;
}
